body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
}

.container {
    margin-left: 14%;
    margin-right: 2%;
    width: 84%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
}

h1 {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

.main-content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.search-filter {
    display: flex;
    align-items: center;
    /* Căn giữa các phần tử theo chiều dọc */
    margin-bottom: 20px;
}

.table-main-content {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-main-content th,
.table-main-content td {
    padding: 12px;
    border: 2px solid #ccc;
    text-align: center;
}

.table-main-content th {
    background-color: #333;
    font-size: 14px;
    color: white;
    text-decoration: none;
    /* Xóa gạch dưới */
}

.table-main-content td {
    font-size: 12px;
}

.column-header {
    color: white;
    text-decoration: none; /* Xóa gạch dưới cho liên kết trong tiêu đề */
}

.table-main-content th a {
    color: white;
    text-decoration: none;
}

.table-main-content th a:hover {
    text-decoration: none;
    color: rgba(188, 187, 187, 0.916);
}


/* Đặt độ rộng cụ thể cho từng cột */

.STT-column { width: 2%;}
.products__product_code-column { width: 9%; }
.order__order_number-column { width: 9%; }
.issue_date-colum { width: 10%; }
.quantity-column { width: 8%; }
.warehouse__name-column { width: 10%; }
.customers__customer_name-column { width: 28%; }
.employees__full_name-column { width: 12%; }
.action-column { width: 12%; }

.sub-content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.year-selector {
    margin-bottom: 10px;
}

.sub-content1-table-wrapper {
    max-height: calc(5 * 55px + 20px);
    min-height: calc(1 * 55px + 20px);
    overflow-y: auto;
    white-space: nowrap;
    margin-bottom: 40px;
}

.sub-content2-table-wrapper {
    max-height: calc(5 * 55px + 20px);
    min-height: calc(1 * 55px + 20px);
    width: 100%;
    white-space: nowrap;
    overflow-y: auto;
    overflow-x: auto;
}

.table-monthly-totals,
.table-customer-totals {
    width: 100%;
    border-collapse: collapse;
}

.table-monthly-totals thead,
.table-customer-totals thead {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Giữ dòng tiêu đề phía trên các dòng khác */
}

.table-monthly-totals th,
.table-monthly-totals td {
    padding: 8px;
    border: 2px solid #ccc;
    font-size: 14px;
    text-align: center;
}

.table-monthly-totals th {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table-customer-totals th,
.table-customer-totals td {
    width: 10%;
    min-width: 70px; /* Đảm bảo kích thước tối thiểu khi bảng quá hẹp */
    border: 2px solid #ccc;
    padding: 8px;
    font-size: 14px;
    text-align: center;
}

.table-customer-totals th {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
