body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
}

.sidebar {
    width: 10%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('../../images/background1.jpg');
    /*Đường dẫn đến hình ảnh nền */
    background-size: cover;
    /* Đảm bảo hình ảnh phủ kín màn hình */
    background-position: center;
    /* Căn giữa hình ảnh */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 10px 0;
    /* Khoảng cách giữa các danh mục */
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: grid;
    /* Sử dụng grid để tạo 2 cột */
    grid-template-columns: 30px 1fr;
    /* Cột icon rộng 30px, cột nội dung tự động */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    padding: 10px 0;
    /* Thêm khoảng cách chiều cao cho mỗi danh mục */
}

.sidebar ul li a .icon {
    text-align: left;
    /* Căn giữa icon */
}

.sidebar ul li a .icon i {
    font-size: 16px;
    /* Kích thước icon */
}

.sidebar ul li a .content {
    text-align: left;
    /* Khoảng cách từ icon sang chữ */
    font-size: 16px;
    /* Kích thước chữ */
    font-weight: 600;
}

.sidebar ul li:hover {
    background-color: #34495e;
}

.sidebar ul li a:hover {
    color: #f1c40f;
}

.container {
    margin-left: 12%;
    margin-right: 2%;
    width: 86%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
}

h1 {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

.btn-container {
    display: flex;
    gap: 10px;
}

.edit-btn,
.delete-btn {
    padding: 8px;
    background-color: #4CAF50;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: #45a049;
}

.create-btn,
.refresh-btn,
.home-btn {
    padding: 8px 16px;
    /* Khoảng cách giữa hai nút */
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.create-btn {
    background-color: #4CAF50;
}

.create-btn:hover {
    background-color: #45a049;
}

.refresh-btn {
    background-color: #FF9800;
}

.refresh-btn:hover {
    background-color: #FB8C00;
}

.home-btn {
    background-color: #2196F3;
}

.home-btn:hover {
    background-color: #1E88E5;
}

.create-btn:hover,
.refresh-btn:hover,
.home-btn:hover {
    opacity: 0.9;
}

.main-content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.search-filter {
    display: flex;
    align-items: center;
    /* Căn giữa các phần tử theo chiều dọc */
    margin-bottom: 20px;
}

.search-main-container {
    justify-content: flex-start;
    align-items: center;
    /* Căn giữa các phần tử theo chiều dọc */
    height: 36px;
}

.search-main-container input[type="text"] {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
    font-size: 14px;
}

.search-main-container button {
    height: 33px;
    padding: 8px 16px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

.search-main-container button:hover {
    background-color: #45a049;
}


/* Cập nhật cho phần filter */
.filter-container {
    display: flex; /* Đảm bảo các phần tử bên trong nằm ngang */
    align-items: center; /* Căn giữa các phần tử theo chiều dọc */
    height: 36px;
}

.filter-container button {
    display: inline-flex; /* Đảm bảo biểu tượng và văn bản nằm trên cùng một dòng */
    align-items: center;
    justify-content: center;
    height: 33px;
    padding: 8px 16px;
    padding-right: 8px;
    background-color: #FF9800;
    border: none; /* Xóa viền nút */
    color: white;
    border-radius: 5px; /* Bo góc cho nút */
    cursor: pointer; /* Con trỏ thay đổi khi di chuột qua nút */
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}

.filter-container button[id="submitButton"] {
    padding: 8px 16px;
}

.material-symbols-outlined {
    font-size: 14px;
    font-weight: 800;
}

.filter-container button:hover {
    background-color: #FB8C00; /* Màu nền khi di chuột qua nút */
}

.dialog {
    display: none;
    /* Ẩn dialog theo mặc định */
    position: absolute;
    /* Đặt tuyệt đối để nó nằm ngay dưới nút */
    z-index: 1000;
    /* Đảm bảo hộp thoại ở trên các phần tử khác */
    background-color: #ffffff;
    /* Nền trắng */
    border: 1px solid #888;
    /* Viền hộp thoại */
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Đổ bóng để tạo cảm giác nổi */
    padding: 10px;
    min-width: 200px;
    /* Đảm bảo hộp thoại không quá nhỏ */
}

.dialog-content {
    max-height: 200px;
    /* Đặt chiều cao tối đa */
    overflow-y: auto;
    /* Cho phép cuộn nếu có quá nhiều mục */
}

.year-item,
.product-type-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 12px;
    border: 2px solid #ccc;
    text-align: center;
}

th {
    background-color: #333;
    font-size: 14px;
    color: white;
    text-decoration: none;
    /* Xóa gạch dưới */
}

td {
    font-size: 12px;
}

.column-header {
    color: white;
    text-decoration: none; /* Xóa gạch dưới cho liên kết trong tiêu đề */
}

th a {
    color: white;
    text-decoration: none;
}

th a:hover {
    text-decoration: none;
    color: rgba(188, 187, 187, 0.916);
}


/* Đặt độ rộng cụ thể cho từng cột */

.STT-column { width: 2%;}
.product-code-column { width: 10%; }
.entry-date-colum { width: 10%; }
.quantity-column { width: 8%; }
.supplier-name-column { width: 28%; }
.warehouse-receipt-column { width: 10%; }
.bill-code-column { width: 10; }
.contract-number-column { width: 10%; }
.action-column { width: 12%; }


/* Phân trang */

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.pagination-btn {
    padding: 8px 12px;
    margin: 0 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.pagination-btn:hover {
    background-color: #333;
}


/* Định dạng cho thông tin trang */

.page-info {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    margin: 0 5px;
}

.items-per-page {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 5px;
}

.items-per-page label {
    font-weight: bold;
}

.items-per-page select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
}

.sub-content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.year-selector {
    margin-bottom: 10px;
}

.red-highlight {
    background-color: red;
    /* Màu đỏ cho ô */
    color: white;
    /* Màu chữ trắng để dễ đọc */
}

.sub-content-table-wrapper {
    max-height: calc(5 * 55px + 20px);
    /* 5 dòng với mỗi dòng 40px, cộng thêm padding/margin nếu có */
    overflow-y: auto;
    /* Kích hoạt thanh cuộn dọc */
}

.sub-content-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* Đảm bảo bảng không mở rộng vượt quá kích thước bao quanh */
}

.monthly-totals {
    width: 100%;
    border-collapse: collapse;
}

.monthly-totals thead {
    position: sticky;
    top: 0;
    z-index: 1;
    /* Giữ dòng tiêu đề phía trên các dòng khác */
}

.monthly-totals th {
    border: 1px solid #ccc;
    text-align: center;
}

.monthly-totals td {
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 18px;
    text-align: center;
}

.search-sub-container {
    margin-top: 10px;
}

.search-sub-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.search-sub-container button {
    height: 33px;
    padding: 8px 16px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}

.search-sub-container button:hover {
    background-color: #45a049;
}

.year-sub-selector {
    font-weight: 600;
    font-size: 16px;
}

.year-sub-selector select {
    height: 26px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.year-sub-selector select:hover {
    background-color: #45a049;
}

#chatButton {
    z-index: 2;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#chatDialog {
    z-index: 2;
    display: none; /* Không hiện tự động */
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    bottom: 20px;
    right: 80px;
    width: 450px;
    height: 400px;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    padding-top: 35px;
}

.chatdialog-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.chat-messages {
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background: #eef0f1;
    height: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.chat-message {
    display: block;  /* Hiển thị mỗi tin nhắn trên một dòng riêng */
    width: fit-content;  /* Kích thước chiều rộng vừa đủ với nội dung */
    max-width: 70%;  /* Giới hạn độ rộng tối đa của tin nhắn */
    padding: 8px 12px;  /* Điều chỉnh padding để màu nền vừa với chữ */
    border-radius: 10px;
    word-break: break-word;  /* Tự động xuống dòng khi cần thiết */
    margin: 5px 0;  /* Thêm khoảng cách 2px giữa các dòng tin nhắn */
}

.chat-message.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: left;
    font-size: 14px;
    margin-left: auto;
}

.chat-message.received {
    background-color: #ffffff;
    align-self: flex-start;
    text-align: left;
    font-size: 14px;
    margin-right: auto;
}

.chat-input-area {
    gap: 10px;
    display: flex;
}

#chatInput {
    height: 40px;
    resize: none;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 80%;
}

#chatDialog button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
}

#chatDialog button:hover {
    background-color: #0056b3;
}



/* Thay đổi nút đóng */
#chatDialog .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #ff5e57;
}

#chatDialog .close:hover {
    color: #ff4040;
}


