<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ThayDoi_Password/password_reset.css' %}">
    <script src="{% static 'js/ThayDoi_Password/tooltip_password_reset.js' %}"></script>
    <title>Khôi Phục Mật Khẩu</title>
</head>

<body>
    <div class="container">
        <h2>Khôi Phục Mật Khẩu</h2>
        <form method="post" autocomplete="off">
            {% csrf_token %}
            
            
            <div class="form-group">
                <label for="id_username">Tên người dùng:</label>
                <input type="text" name="username" id="id_username" autocomplete="off" required>
                <div class="tooltip" id="username-error">
                    <span class="tooltip-text"></span>
                </div>
            </div>

            <!-- Hiển thị thông báo lỗi nếu có -->
            {% if error_message %}
                <div class="error-message">
                    {{ error_message }}
                </div>
            {% endif %}

            <button type="submit">Tiếp Tục</button>
        </form>
    </div>
</body>

</html>
